body {
  --sb-track-color: #00000050;
  --sb-thumb-color: #262626;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3vh;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

#container > * {
  view-timeline-name: --component;
  view-timeline-inset: block;

  animation-timeline: --component;
  animation-name: show;

  animation-range: entry 10% cover 20%;
  animation-fill-mode: both;
}

#container > footer {
  animation: none;
}
